.head {
  color: rgba(215, 235, 244, 0.8);
  font-weight: bolder;
  font-size: 25px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 12px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.468);
}
