.container {
  width: 450px;
  height: auto;
  background-color: rgba(209, 230, 239, 0.781);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.235);
  border-radius: 20px;
  margin: 0px auto;
  padding-bottom: 40px;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  padding-top: 40px;
  gap: 20px;
}
.city input {
  display: flex;
  height: 50px;
  width: 250px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.235);
}
.city button {
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.235);
}
.city button:hover {
  background-color: rgb(66, 167, 250);
  color: white;
  transition: all ease-in-out 2;
}
.locIcon {
  margin-right: 5px;
  color: rgb(235, 120, 120);
}
.errorMessage {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin-top: 90px;
}

.Weathercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherImage {
  margin-top: 15px;
}
.desc {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 5px;
}
.weatherTemp {
  font-size: 70px;
  font-weight: bold;
  margin-top: 25px;
  color: rgb(66, 167, 250);
  text-shadow: 2px 4px 8px rgba(109, 107, 107, 0.235);
}
.weatherTemp span {
  color: white;
}
.weatherCity {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.weatherStats {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 10px;
}
.winds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  height: 160px;
  width: 160px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.235);
  background-color: rgb(66, 167, 250);
}
.winds > h3 {
  font-weight: bold;
  font-size: 20px;
}
.ws {
  font-weight: bold;
  color: white;
  margin-top: 5px;
  font-size: 20px;
}
.windIcon {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.humidityIcon {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.humidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  height: 160px;
  width: 160px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.235);
  background-color: rgb(66, 167, 250);
}
.humidity > h3 {
  font-weight: bold;
  font-size: 20px;
}
.hy {
  font-weight: bold;
  color: white;
  margin-top: 5px;
  font-size: 20px;
}
